/*=============================================================================
  #FOOTER
 =============================================================================*/

/* 
* Componente do footer da página
* Estilo do footer da página 
*/

$component-footer: "c-footer";

.#{$component-footer}__list-link {
  @include text-format(0.02em, uppercase);
  color: map-get($colors, "global-dark-color");
  font-size: rem(12);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}


.#{$component-footer}__list-link,
.#{$component-footer}__description {
  @include text-format(0.02em, uppercase);
  color: map-get($colors, "global-dark-color");
  font-size: rem(12);
}


.#{$component-footer}__description {
  text-align: center;
}
