/*=============================================================================
  #HEADER
 =============================================================================*/

.l-header {
  width: 100%;
  display: flex;
  margin-top: rem(43);
}





/*=============================================================================
  #HEADER-MENU
 =============================================================================*/

 /* Cabeçalho de navegação da página */

$layout-name: "l-header-menu";

.#{$layout-name} {
  width: 100%;

  &::after,
  &::before {
    @extend %u-global-border-style;
    content: "";
    display: block;
  } 
}


.#{$layout-name}__navigation {
  @include flex(center, center);
  padding: rem(12);
}
