/*=============================================================================
  #PRODUCT
 =============================================================================*/

/* Estrutura da sessão de produto */

$layout-name: "l-product";

.#{$layout-name} {
  display: flex;
  justify-content: space-evenly;
  padding-top: rem(40);
  padding-bottom: rem(40);

  @include breakpoint(758) {
    flex-direction: column;
    align-items: center;
   }
}


.#{$layout-name}__image {
  @include flex(center, center);
}


.#{$layout-name}__wrapper,
.#{$layout-name}-container {
  display: flex;
  flex-direction: column;
}


.#{$layout-name}__wrapper {
  flex-wrap: wrap;
}


.#{$layout-name}content {
  @include breakpoint(758) {
    padding-top: rem(32);
   }
}


.#{$layout-name}-sold {
  padding-left: rem(16);
  width: auto;
  height: auto;
  background-color: map-get($colors, "box-color");
}


.#{$layout-name}-container {
  padding-top: rem(16);
  padding-bottom: rem(16);
}

