/*=============================================================================
  #BUTTONS
 =============================================================================*/

/* 
* Componentes dos botões
* Estilos de botões da página 
*/

$component-name: "c-button";

.#{$component-name}-search {
  border: 1px solid map-get($colors, "border-color");
  background-color: map-get($colors, "main-color");
  cursor: pointer;
}





/* Botão do card */
.#{$component-name} {
  @include text-format(0.05em, uppercase);
  font-weight: map-get($font-weight , "bold");
  color: map-get($colors , "main-color");
  border-radius: $global-radius;
  border: none;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  text-decoration: none;
}


.#{$component-name}--blue {
  background-color: map-get($colors , "button-color");

  &:hover,
  &:focus {
    background-color: darken(map-get($colors , "button-color"), 15%);
  }
}


.#{$component-name}--pink {
  background-color: map-get($colors , "secondary-button-color");

  &:hover,
  &:focus {
    background-color: darken(map-get($colors , "secondary-button-color"), 15%);
  }
}
