/*=============================================================================
  #NAV  
 =============================================================================*/

 /* Navegação do cabeçalho de informações */

$layout-name: "l-navbar";

.#{$layout-name} {
  width: 70%;
  margin-left: rem(82);

  @include breakpoint(1250) {
    @include flex(center, center);
    margin: 0 auto;
  }
}


.#{$layout-name}__menu {
  @include flex(center, space-between);
  width: 100%;
  margin-top: rem(30);
  margin-bottom: rem(40);

  @include breakpoint(1250) {
   flex-direction: column;
  }
}


.#{$layout-name}__search {
  position: relative;
}


.#{$layout-name}__menu-items {
  @include flex(center, space-between);
  width: 100%;

  @include breakpoint(1250) {
    @include flex(center, center);
    width: 100%;
    gap: rem(33);
    padding-top: 2rem;
   }
}

  
