/*=============================================================================
  #NAV  
 =============================================================================*/

 /* Navegação do cabeçalho de informações */

$layout-name: "l-navbar";

.#{$layout-name} {
  width: 72%;
  margin-left: rem(82);
}


.#{$layout-name}__menu {
  @include flex(center, space-between);
  width: 100%;
  margin-top: rem(30);
  margin-bottom: rem(40);
}


.#{$layout-name}__search {
  margin-left: rem(18);
  position: relative;
}