/*=============================================================================
  #NAV  
 =============================================================================*/

 /* Navegação do cabeçalho de informações */

$layout-name: "l-navbar";

.#{$layout-name} {
  width: 70%;
  margin-left: rem(50);
}


.#{$layout-name}__menu {
  @include flex(center, space-evenly);
  width: 100%;
  margin-top: rem(30);
  margin-bottom: rem(40);
  margin-left: rem(50);
}


.#{$layout-name}__search {
  margin-left: rem(16);
  position: relative;
}