/*=============================================================================
  #BUTTONS
 =============================================================================*/

/* 
* Layout dos botões
* Estrutura de botões da página 
*/

$layout-name: "button";
$layout-button: "l-button";

.l-search__#{$layout-name} {
  height: $global-height;
  width: rem(51);
  position: absolute;
  left: 90%;
  top: 0;
}


.l-search__#{$layout-name} .icon {
  height: rem(20);
  width: rem(20);
}





/* Botão do Card - Tamanho */
.#{$layout-button}--small {
 @include flex(center, center);
  font-size: rem(10);
  width: rem(100);
  height: rem(27);
}


.#{$layout-button}--tiny {
  width: rem(30);
  height: rem(30);
}


.#{$layout-button}--big {
  height: $global-height;
  width: rem(158);
  font-size: rem(15);
}



