/*=============================================================================
  #BUTTONS
 =============================================================================*/

/* 
* Layout dos botões
* Estrutura de botões da página 
*/

$layout-name: "button";
$layout-button: "l-button";

.l-search__#{$layout-name} {
  height: $global-height;
  width: rem(51);
  position: absolute;
  right: 360px;
}


.l-search__#{$layout-name} .icon {
  height: rem(20);
  width: rem(20);
}





/* Botão do Card - Tamanho */
.#{$layout-button}--small {
  font-size: rem(10);
  width: rem(100);
  height: rem(27);
}









