/*=============================================================================
  #INPUTS
 =============================================================================*/

/* 
* Layout dos inputs
* Estrutura dos inputs da página 
*/

$layout-name: "input";

.l-search__#{$layout-name} {
  max-width: 100%;
  width: rem(506);
  height: $global-height;
  padding: rem(15);

  @include breakpoint(1250) {
    width: rem(325);
   }
}