/*=============================================================================
  #HEADER
 =============================================================================*/

 /* Cabeçalho de informações da página */

  $component-name: "c-headline";

  .#{$component-name} {

   @include breakpoint(1250) {
   text-align: center;
  }
  }


 .#{$component-name}__title {
   color: map-get($colors ,"primary-dark-color" );
   font-size: rem(32);
   letter-spacing: 0.08em;
   text-decoration: none;
 }


 .#{$component-name}__name {
  color: map-get($colors ,"secondary-color" );
 }