/*=============================================================================
  #LINKS
 =============================================================================*/

/* 
* Layout dos links
* Estilo dos links da página 
*/


$layout-name: "l-link";

.#{$layout-name}-login {
  padding-left: rem(80);

  @include breakpoint(1250) { 
    padding-left: 0;
  }
}

