/*=============================================================================
  #COLORS
 =============================================================================*/

$hue: 220;
$secondary-hue: 302;

$colors: (
  "primary-color": hsla($hue, 78%, 55%, 1),
  "primary-dark-color": hsla($hue, 65%, 51%, 1),
  "primary-light-color": hsla($hue, 54%, 49%, 1),
  "secondary-color": hsla($secondary-hue, 65%, 48%, 1),
  "secondary-dark-color": hsla($secondary-hue, 73%, 48%, 1),
  "button-color": hsla(207, 90%, 54%, 1),
  "secondary-button-color": hsl(302, 82%, 67%),
  "main-color": hsl(0, 0%, 100%),
  "base-color": hsl(0, 0%, 96%),
  "global-dark-color": hsl(0, 0%, 0%),
  "placeholder-color": hsl(0, 0%, 33%),
  "border-color": hsla(0, 0%, 47%, 0.4),
  "text-color": hsl(0, 0%, 40%),
  "box-color":  hsla(0, 9%, 90%, 1),
  "promotion-color": hsl(0, 100%, 50%),
);





/*=============================================================================
  #TYPOGRAPHY
 =============================================================================*/

$font-weight: (
  "regular": 400,
  "medium": 500,
  "italic": 500,
  "semi-bold": 600,
  "bold": 700,
  "black": 900,
);





/*=============================================================================
  #MEASURES
 =============================================================================*/

$global-font-size: rem(16);
$global-line-height: 1.5;
$global-radius: rem(8);
$global-height: rem(37);





/*=============================================================================
  #TRANSITION
 =============================================================================*/

 $transition-duration-fast: 150ms;